.sections > div:nth-child(odd) {
  background-color: var(--color2);
}
.sections {
  color: var(--color5);
}

.expand-enter-active, .expand-leave-active {
  transition: height .3s ease-in-out;
}

.expand-enter, .expand-leave-to {
  height: 0;
}
