.core {
  background-color: var(--color4);
  color: var(--color5);
}

.secondary {
  background-color: var(--color3);
  color: var(--color5);
}

.misc {
  background-color: var(--color2);
  color: var(--color5);
}